#shit{
    color: blue;
    font-size: 20px;
    transition: 0.5s;
}
#one{
    height: 300px;
    width: 500px;
    background-color: blue;
    margin-left: 40%;    
    z-index: 0;
    display: inline-block;
    transition: 1s;
    position: absolute;
}
#two{
    height: 270px;
    width: 470px;
    background-color: red;
    margin-left: 30%;    
    z-index: -1;
    display: inline-block;
    position: absolute;
    left: 0;
    transition: 1s;
}